* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
}

.gradient {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 1rem;
}

.div-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  gap: 1rem;
}
#btn1 {
  display: block;
}
button {
  background-color: yellow;
  outline: none;
  border: none;
  cursor: pointer;
  color: navy;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
}

.green {
  border-radius: 3rem;
  padding: 1rem 2rem;
  font-size: 2rem;
}
.mix {
  border-radius: 50%;
  padding: 1rem;
  font-size: 1.8rem;
  &:hover {
    color: darkred;
    transform: scale(1.05);
  }
}

.hover-enabled {
  color: darkred;
  transform: scale(1.05); /* Slightly enlarge button on hover */
}
.click-title {
  font-size: 1.7rem;
}

.code-div {
  margin-top: 1rem;
  background-color: rgba(46, 138, 138, 0.24);
  color: white;
  padding: 2rem 1rem;
  border-radius: 0.1rem;
  border-left: 0.2rem solid white;
  cursor: pointer;
  text-align: center;
  font-size: 1.4rem;
}
.copy-btn {
  font-size: 2rem;
}

/* pup up ko lagi  */
.dispN {
  display: none;
}
.popup {
  margin-bottom: 1rem;
  background-color: #007bff;
  padding: 0.3rem 0.5rem;
  font-size: 1.4rem;
}

@media (max-width: 480px) {
  html {
    font-size: 56%;
  }
}
